spring:
  application:
    name: xiaolu_ai-code-backend
  # mysql
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/xiaolu_ai_code
    username: root
    password: 1212w1212
  # redis
  data:
    redis:
      host: localhost
      port: 6379
      password:
      ttl: 3600
  profiles:
    active: local
server:
  port: 8123
  servlet:
    context-path: /api

# springdoc-openapi
springdoc:
  group-configs:
    - group: 'default'
      packages-to-scan: com.uloaix.xiaolu_aicode.controller
# knife4j
knife4j:
  enable: true
  setting:
    language: zh_cn
